.course-selection-component-container {
    width: 100%;
    margin: 0 1em 0 1em;
}

/* .get-schedule-button {
    background-color: #CFE1B9;
    border-radius: 0.5em;
    border: none;
    padding: 1em;
    position: relative;
    left: 35%;
    margin: 0 0 2em 0;

.get-schedule-button:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 0.25em 0.125em #88B552;
    position: absolute;
    left: 50%; */