.course-input-component-container {
    border-radius: 1em;
    margin: 1.5em;
}

.class-number-desc {
    padding: 2em;
    margin-bottom: 1em;
}

.course-input-component-container {
    font-size: 1em;
    background-color: #CFE1B9;
    padding: 1em;
}

.input-container {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    margin: 0.35em;
}

.input-label {
    padding: 0.35em;
    font-size: 1em;
}

.input-text-field {
    padding: 0.35em;
    border-radius: 0.25em;
    border: none;
    margin: 0.25em;
    font-size: 0.85em;
}

.input-text-field:focus {
    padding: 0.35em;
    border-radius: 0.25em;
    /* border: solid 1px red; */
    border: none;
    margin: 0.25em;
    box-shadow: 0 0 0.25em 0.25em #B8E0CA;
    outline: none;
}