.landing-page-container {
    background-color: #F1F6EB;
}

.page-title {
    /* font-family: 'sans-serif';
    font-size: 3em;
    padding: 0.5em 0 0 1em;
    margin: 0 0 2em 0; */
    font-family: 'sans-serif';
    justify-content: space-between;
    font-size: 3em;
    padding: 50px;
}

.peter-planner-desc {
    margin: 7em 0 0 0;
    padding: 0 2em 0 2em;
    max-width: 30%;
    text-align: center;
    position: relative;
    left: 33%;
    top: 100%;

}

.peter-planner-link-container {
    margin: 1em 1em 1em 1em;
    padding: 5em 5em 35em 5em;
}

.peter-planner-link {
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin: 1em 1em 1em 1em;
    padding: 1.5em 1em 1em 1em;
    position: relative;
    left: 43%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    animation-name: link;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes link {
    0% {margin: 1em 1em 1em 1em;}
    20% {margin: 1.75em 1em 1em 1em;}
    50% {margin: 1em 1em 1em 1em;}
    75% {margin: 0.25em 1em 1em 1em;}
    100% {margin: 1em 1em 1em 1em;}
}

.link-icon {
    margin-right: 0.25em;
    margin-top: 0.25em;
    /* background-color: red; */
    position: relative;
    top: 0%;
}

.link-text:hover {
    text-shadow: 0em 0em 1em #FD647B;
}
