.Home {
    display: flex;
    justify-content: space-between;
    background-color: #F1F6EB;
    flex-direction: column;
    padding: 1em;
    padding-bottom: 10em;

  }
  
  .title {
    font-family: 'sans-serif';
    justify-content: space-between;
    font-size: 3em;
    padding: 50px;
  }
  
  .main-content {
    display: flex;
  }
  
  .description {
    display: flex;
    width: 450px;
    font-size: 18px;
    padding-top: 0px;
    padding: 0px 0px 50px 100px;
  }
  
  .course-selection {
    display: flex;
    height: 100px;
    width: 510px;
    padding-left: 60px;
  }
  
  .schedule {
    display: flex;
    width: 50%;
    padding: 0px 100px 100px 0px;
  }
  
  .left {
    display: flex;
    flex-direction: column;
  }

  .boxes {
    display: flex;
    flex-direction: row;
  }

  .title-tag {
    display: flex;
    font-size: 18px;
    padding: 0px 0px 0px 100px;
  }


.get-schedule-button {
    display: flex;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    left: 250px;
    top: 400px;
    animation-name: get-schedule-button;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  @keyframes get-schedule-button {
    0% {margin: 1em 1em 1em 1em;}
    20% {margin: 1.75em 1em 1em 1em;}
    50% {margin: 1em 1em 1em 1em;}
    75% {margin: 0.25em 1em 1em 1em;}
    100% {margin: 1em 1em 1em 1em;}
}

  .get-schedule-button:hover {
    text-shadow: 0em 0em 1em #FD647B;
    cursor: pointer;
}

    .schedule {
    /* background-color: green; */
    width: 1em;
    display: grid;
    grid: 1fr;
}